@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant minimal (&:where(.minimal, .minimal *));

@theme {
  --color-background: #F4F4F4;
  --color-main: #A7CAEA;
  --color-hover-main: #75B2EA;
  --color-accent: #FF9F67;
  --color-black: #232323;
  --color-admin-nav: #B04404;
  --color-admin-nav-bg: rgba(255, 159, 103, 0.65);
  --color-red-text: #8B0000;
  --color-red-bg: rgba(236,103,103, 0.65);
  --color-bg-transparent: rgba(255,159,103, 0.45);
  
  --color-dark-background: #2F2F2F;
  --color-dark-main: #507DA0;
  --color-dark-accent: #B9683C;

  --font-main: "Poppins", "sans-serif";
  --font-body: "Albert Sans", "sans-serif";

  --text-display: 2.5rem;
  --text-header: 2rem;
  --text-nav: 1.2rem;
  --text-body: 1.27rem;

  --shadow-small: 2px 2px 2px 1px #888;
  --shadow-medium: 0px 3px 5px 1px #999;

  --breakpoint-xs: 30rem;
  --breakpoint-large-medium: 61rem;
  --breakpoint-large-large: 76rem;
}

.toolbar-button {
  margin: 0 2px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.toolbar-button.active {
  background-color: black;
  color: white;
}

.list {
  list-style: disc;
  margin: 0.25rem 2.1rem;
}

.bold-style {
  font-weight: 600;
}

.justified-text {
  text-align: justify;
}