@import "tailwindcss";

@theme {
  --color-background: #F4F4F4;
  --color-main: #A7CAEA;
  --color-accent: #FF9F67;
  --color-black: #232323;

  --font-main: "Poppins", "sans-serif";
  --font-body: "Albert Sans", "sans-serif";

  --text-display: 3rem;
  --text-header: 2rem;
  --text-nav: 1.25rem;
  --text-body: 1.2rem;

  --shadow-small: 2px 2px 2px 1px #888;
}

